/*  Fondos  */
.bgimg1{
  width: 100%;
  height: auto;
  background: url(../img/FondoDesktop.jpg) center center fixed;
}

.divisor-text{
  background: linear-gradient(180deg, #9ebd13 0%, #008552 100%);
  height: 120px;
  width: auto;
}

/* --------------- Productos --------------- */
.raj{
  width: 60%;
}

.how-to{
  border: 1px solid #008552;
  background-color: rgba(0, 133, 22, 0.097);
  border-radius: 25px;
}

.how-to div i{
  font-size: 30px;
  color: green;
}

.flip-box {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  padding: 50px 0px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(540deg);
  transition: 5s;
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background: linear-gradient(180deg, #9ebd13 0%, #008552 100%);
  color: white;
  border-radius: 30px;

  transform: rotateY(180deg);

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
}

/* ----- Redes Sociales -----  */

.fb-page{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ----- Redes Sociales -----  */

/* Smartphone */

.smartphone, .desktop{
  display: none;
}


/*-----  Acerca de -----*/
.m-v-v{
  background-color: rgba(238, 255, 198, 0.247);
  border: 4px double wheat;
  width: 380px;
  height: 200px;
  /* height: auto; */
}

.m-v-v p{
  font-size: 18px;
  margin: 0px;
}

.fundadores, .logo_about{
  width: 50%;
  border-radius: 50px;
}

.barr1{
  background-color: rgb(70, 115, 2);
  /* border: 4px solid green; */
  border-radius: 50px;
  width: 150vh;
  height: 7px;
}

.barr2{
  background-color: rgb(70, 115, 2);
  border-radius: 50px;
  height: 50vh;
  width: 5px;
}

.text-about{
  font-size: 25px;
  width: 40%;
}

@media only screen and (max-device-width: 425px){
  .bgimg1{
    background: url(../img/FondoPhone.jpg) center center fixed;
    background-size: 100%;
  }

  .raj{
    width: 35%;
  }

  .barr2{
      display: none;
    }

  .text-about{
    width: calc(100% - 50px );
  }

  .fundadores, .logo_about{
      width: 100%;
  }

  .barr3{
    background-color: rgb(70, 115, 2);
    border-radius: 50px;
    width: calc(100% - 50px);
    height: 7px;
  }
}

@media only screen and (max-device-width: 768px) {
  .bgimg1{
    background-size: 150%;
  }

  .raj{
    width: 45%;
  }

  .desktop{
    display: none;
  }
  
  .smartphone{
    display:block;
  }

  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
  }

  .how-to-pro{
    padding-bottom: 50px;
  }
}

@media only screen and (min-device-width: 769px)  {
  .desktop{
    display: block;
  }
}

/*-----  Acerca de -----*/