.bg-mercado{
    width: 100%;
    height: 90vh;
    background: url(../img/FondoDesktop.jpg) center center fixed;
}

.bg-mercado div a{
    font-size: 10vw;
    border-radius: 25px;
    border: 10px solid rgb(255, 208, 0);
    text-transform: uppercase;
}

.bg-mercado div a:hover{
    box-shadow: 0 0 30px rgb(242, 255, 54);
}

@media only screen and (max-device-width: 769px)  {
  .bgimg1{
    background-size: 150%;
  }
}
  
@media only screen and (max-device-width: 425px){
  .bg-mercado{
    background: url(../img/FondoPhone.jpg) center center fixed;
    background-size: 100%;
  }
}
  