body, html {
  scroll-behavior: smooth;
}

/*----- Scroll -----*/
*{
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(70, 115, 2, 0.8);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.8);
}
/*----- Scroll -----*/

/*----- Barra de navegación -----*/
.imgnav{
  height: 70px;
} 

nav{
  background: linear-gradient(180deg, #9ebd13 0%, #008552 100%);
  padding: 10px;

  position: fixed;
  top: 0;
  width: 100%;

  transition: top 0.3s;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.topnav{
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topnav div{
  padding: 0px 5px;
}

.topnav div a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 120px;

  display: flex;
  justify-content: center;
}

.topnav div a.active{
  box-shadow: 0 0 10px rgb(70, 115, 2);
  color: white;
  border-radius: 50px;
}

.topnav div a:hover{
  font-size: 18px;
  transition: all 1s ease-in;
  color: black;
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(70, 115, 2);
}

.topnav div a{
  transition: all 1s ease-out;
}
/*----- Barra de navegación -----*/


/* ----- Inicia Social Media ----- */

div.socialMedia{
  position: fixed;
  top: 35%;
  z-index: 2;
}

div.socialMedia ul {
  list-style: none;
} 
div.socialMedia ul li {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
} 
div.socialMedia ul li .bi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
} 
div.socialMedia ul li.facebook{
  background: #3b5998;
} 
div.socialMedia ul li.twitter{
  background: #00aced;
} 
div.socialMedia ul li.instagram{
  background: #bc2a8d;
}
div.socialMedia ul li.whatsapp{
  background: #14a50f;
}

div.socialMedia ul li.facebook div.slider{
  background: #627aac;
} 
div.socialMedia ul li.twitter div.slider{
  background: #7fd5f6;
} 
div.socialMedia ul li.instagram div.slider{
  background: #dd94c6;
}
div.socialMedia ul li.whatsapp div.slider{
  background: #14a50f;
}



.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 51px;
  width: 0px;
  height: 50px;
  background: #eebb5c;
  border-radius: 25px;
  transition: all 0.5s 0.3s ease;
} 
.slider p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: all 0.6s ease;
} 
ul li:hover .slider {
  width: 180px;
  transition: all 0.5s ease;
} 
ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}

/* ----- Termina Social Media ----- */

/*----- NavBar Mobile -----*/
.topnav-mobile{
  display: flex;
  justify-content: end;
}

.list-x i, .cros-x i{
  font-size: 50px;
  color: rgb(29, 136, 47);
}

.nav-mobile-links div a{
  font-size: 15px;
}

.nav-mobile-links div a i{
  padding-right: 5px;
}

/*----------*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.active {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*----- NavBar Slide-----*/

/*----- Botón Subir -----*/

.btn-up{
  z-index: 4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 4px solid red;
  
  display: flex;
  align-items: center;
  justify-content: center;

  display:none;
  position:fixed;
  cursor:pointer;

  bottom:10px;
  right:10px;
}

.btn-up:hover{
  color: white;
  background-color: red;
  box-shadow: 0 0 10px rgb(255, 54, 54);
}

/*----- Botón Subir -----*/

@media only screen and (max-device-width: 425px) {
  .socialMedia{
    display: none;
  }

  .btn-up{
    width: 30px;
    height: 30px;
    color: white;
    background-color: red;
    box-shadow: 0 0 10px rgb(255, 54, 54);
  }

  .imgnav{
    height: 50px;
  } 
}

@media only screen and (max-device-width: 768px) {
  .topnav{
    display: none;
  }
}

@media only screen and (min-device-width: 769px)  {
  .topnav-mobile{
    display: none;
  }
}

@media only screen and (max-device-width: 769px)  {

}
